@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
  --background: #c1c1c1;
  /* f0f0f0 */
  /* custom colors */
  --primary: #1a1a1a;
  --secondary: #8a8a8a;
  /* custom font */
  --header: "rail-way-bold";
  --paragraph: sans-serif;
}

/* dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
     --primary: #313131;
  --secondary: #5c5b5b;
  }
} */
h1 {
  @apply text-[3rem] font-medium;
}

h2 {
  @apply text-[2rem] font-medium;
}

h3 {
  @apply text-[1.5rem] font-medium;
}

p,
li,
a {
  @apply text-[1rem];
}

.pageWrapper {
  background-color: var(--background);
  color: var(--primary);
}
#ReactSimpleImageViewer.styles-module_wrapper__1I_qj {
  z-index: 99;
  background-color: #000000c2;
  position: fixed;
  top: unset;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.button-shadow {
  width: 13rem;
  transition: 0.5s ease-in-out;
}
.button-shadow:hover {
  box-shadow: inset 13rem 0 0 #e98686;
}

.demo-button {
  width: 8rem;
  padding: 5px 0;
  text-align: center;
  background-color: var(--primary);
  transition: 0.5s ease-in-out;
  display: inline-block;
  color: white;
}
.demo-button:hover {
  box-shadow: inset 8rem 0 0 var(--secondary);
}
